/* Navigation Bar CSS */
/* Import the Work Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

#unique-navbar .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F28482;
    padding: 10px 2.5%; /*First value = height */
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

#unique-navbar .logo img {
    height: 60px;
    width: auto;
}

#unique-navbar .navbar-links {
    display: flex;
}

#unique-navbar .navbar-links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

#unique-navbar .navbar-links ul li {
    list-style: none;
    margin-right: 20px;  /* Adjust this value as needed */
}

#unique-navbar .navbar-links ul li:last-child {
    margin-right: 0;  /* Remove right margin from last item */
}

#unique-navbar .navbar-links ul li a {
    text-decoration: none;
    color: #F7EDE2;
}

#unique-navbar .navbar-links ul li a:hover {
    color: #F6BD60;
}

#unique-navbar .login a {
    text-decoration: none;
    color: #F6BD60;
    border: 2px solid #F6BD60; /* Add a border */
    padding: 0.8em 2em; /* Add some padding */
    border-radius: 0.2em; /* Optional: round the corners a bit */
    display: inline-block; /* Necessary for padding to take effect */
    background-color: #F7EDE2;
}

#unique-navbar .login a:hover {
    color: #F5CAC3;
    border-color: #F5CAC3; /* Change the border color on hover */
}

/* End of Navigation Bar CSS */
/* Google Maps CSS */
/* Slider */
/* Style for slider */
#overallMapBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/catbackground.jpeg');
    background-repeat: repeat;
    background-size:auto;
    background-position: center;
}
h3 {
    color: #333;
    margin-top: 20px;
}

#radius, #centerButton {
    margin: 10px 0;
}

#radius {
    width: 300px;
}

#centerButton {
    background-color: #F6BD60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#centerButton:hover {
    background-color: #F7EDE2;
}
/* Map Edit*/
#map {
    width: 80%;
    height: 50em;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#map {
    height:40em;
    width:70em;
}
/* End of Google Maps CSS */
/*Footer CSS */
footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 4em;
    width: auto;
    margin-right: 20px;
    position: absolute;
    left: 30em;
}

#footer_text {
    text-align: center;
    color: #F5CAC3;
    align-items: center;
}

#footer_text a {
    color: #F5CAC3;
    text-decoration: none;
}

#footer_text a:hover {
    color: #F28482;
}
/* End of Footer CSS */