/*****

Colour-guide
************
#F6BD60 - yellow
#F7EDE2 - light pink
#F5CAC3 - pink
#84A59D - green
#F28482 - dark pink

Table of Contents
*****************
1. Body Style
2. h1 Style
3. Paragraph style
4. Flex Containers
5. Buttons Style
6. Image Style
7. Form Style
8. NavBar Style
9. Footer Style

*****/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

/***
1. Body Style
***/

body, html {
    margin: 0;
    padding: 0;
}

/***
2. h1 Style
***/

h1
{
    align-items: center;
    color:#F7EDE2;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
	font-size: 3.5rem;
    margin-bottom: 0;
}

.subtitle
{
    color:#F5CAC3;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.67em;
}

.featured
{
    color:#84A59D;
    font-size: 2.5rem;
    margin: 1em;
    margin-top: 0;
}

.login
{
    color:#F28482;
    font-size: 2.2rem;
    margin: 0.5em;
}


/***
3. Paragraph Style
***/

p
{
    align-items: center;
    color:#F28482;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
}

.homequestion
{
    align-items: left;
    color:#F7EDE2; 
    margin-right: 2em;
}

.card-text
{
    align-items: left;
    color: #84A59D;
    margin: 0.4em; 
}


/***
4. Flex Container Style
***/

.flex-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/***
5. Buttons Style
***/

button
{
    border: none;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

.registernow
{
    background-color: #F6BD60;
    border: 2px solid #84A59D;
    border-radius: 0.2em;
    color: #84A59D;
    padding: 0.8em 2em; 
    display: inline-block; 
    margin-top: 5em;
    margin-bottom: 5em;
    
}

.registernow:hover
{
    color: #F7EDE2;
    border-color: #F7EDE2;
}

.viewcats
{
    text-decoration: none;
    font-weight: bold;
    background-color: #F7EDE2;
    border: 2px solid #F6BD60;
    border-radius: 0.2em;
    color: #F6BD60;
    padding: 0.8em 2em; 
    display: inline-block; 
    margin: 1em;
    
}

.viewcats:hover
{
    color: #F5CAC3;
    border-color: #F5CAC3;
}

/***
6. Image Style
***/

.featured-image
{
    border: 2px solid #F7EDE2;
    border-radius: 0.2em;
    margin: 1em;
}

.card
{
    width: 150em;
    height: 225em;
}

/***
7. Form Style
***/

label
{
    font-family: 'Work Sans', sans-serif;
    margin-top: 2em;
}


input
{
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 1em;
}


/***
8. NavBar Style
***/

#unique-navbar .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F28482;
    padding: 10px 2.5%; /*First value = height */
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

#unique-navbar .logo img {
    height: 60px;
    width: auto;
}

#unique-navbar .navbar-links {
    display: flex;
}

#unique-navbar .navbar-links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

#unique-navbar .navbar-links ul li {
    list-style: none;
    margin-right: 20px;  /* Adjust this value as needed */
}

#unique-navbar .navbar-links ul li:last-child {
    margin-right: 0;  /* Remove right margin from last item */
}

#unique-navbar .navbar-links ul li a {
    text-decoration: none;
    color: #F7EDE2;
}

#unique-navbar .navbar-links ul li a:hover {
    color: #F6BD60;
}

#unique-navbar .login a {
    text-decoration: none;
    color: #F6BD60;
    border: 2px solid #F6BD60; /* Add a border */
    padding: 0.8em 2em; /* Add some padding */
    border-radius: 0.2em; /* Optional: round the corners a bit */
    display: inline-block; /* Necessary for padding to take effect */
    background-color: #F7EDE2;
}

#unique-navbar .login a:hover {
    color: #F5CAC3;
    border-color: #F5CAC3; /* Change the border color on hover */
}

/* End of Navigation Bar CSS */
/***

9. Footer Style
***/
footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 4em;
    width: auto;
    margin-right: 20px;
    position: absolute;
    left: 30em;
}

#footer_text {
    text-align: center;
    color: #F5CAC3;
    align-items: center;
}

#footer_text a {
    color: #F5CAC3;
    text-decoration: none;
}

#footer_text a:hover {
    color: #F28482;
}
/* End of Footer CSS */